<!DOCTYPE html>
<html>

<head>
  <title>
    DAB R2 • LMS
  </title>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container pt-5">

    <div class="container-fluid mt-5 text-center">

      <%- include('./partials/navbar.ejs', {user: user}) %>
        <h1>
          DAB Resit 2 - Library Management System
        </h1>
        <p>Welcome to the Resit 2 course assignment for DAB
        </p>
        <div>
          <img src="/img/home.jpeg" alt="" class="logo">
        </div>

    </div>
</body>

</html>